<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="TRANS_LOCAL" connectionString="server=.;Database=FileSync;uid=sa;pwd=123456;"/>
  </connectionStrings>
  <appSettings>
    <!--数据库操作类路径-->
    <add key="TRANS_LOCAL_DIR_DBO" value="D:\Home.FileSync\Trans.Db.Data" />
    <!--数据库模型类路径-->
    <add key="TRANS_LOCAL_DIR_MOD" value="D:\Home.FileSync\Trans.Db.Model" />
    <!--数据库操作类命名空间-->
    <add key="TRANS_LOCAL_NAS_DBO" value="Trans.Db.Data" />
    <!--数据库模型类命名空间-->
    <add key="TRANS_LOCAL_NAS_DAT" value="Trans.Db.Model" />
    <!--数据库访问类命名空间-->
    <add key="TRANS_LOCAL_NAS_DBU" value="Trans.Db.DBUtility" />
    <!--数据库链接字符串前缀-->
    <add key="TRANS_LOCAL_MARK_CON" value="TRANS" />
  </appSettings>
</configuration>